body {
    margin-top: 56px;
    position: relative;
}
#logo {
    height: 2.8vh;
}
hr {
    border: solid 1px black;
}
.lead {
    font-size: 1.5vh;
    //font-size: 0.5vmax;
}
#l {
    border: solid 1px white;
}
#w {
    border: solid 1px white;
}
#section1 p {
    text-indent: 50px;
}
#section2 p{
    text-indent: 50px;
}
#land {
    background-image: url(assets/images/HIZEN-heeia-kbay.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    
}
#title {
    font-size: 5.4em;
}
#section1 {
    padding-top: 56px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#section2 {
    padding-top: 56px;
    background-image: url("assets/images/people-woman-coffee-meeting-editied.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
#section3 {
    padding-top: 56px;
    background-color: mintcream;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#italics1 {
    font-style: italic;
}
.icon {
    width: 68px;
    display: block;
    margin: auto;
}
.icons {
    width: 300px;
}
#twitter {
    fill: #1DA1F2;
    -webkit-transition: fill 300ms ease-out;
    -moz-transition: fill 300ms ease-out;
    -o-transition: fill 300ms ease-out;
    transition: fill 300ms ease-out;
}
#twitter:hover {
    fill: lightblue;
    cursor: pointer;
}
#facebook {
    fill: #3B5998;
    -webkit-transition: fill 300ms ease-out;
    -moz-transition: fill 300ms ease-out;
    -o-transition: fill 300ms ease-out;
    transition: fill 300ms ease-out;
    
}
#facebook:hover {
    fill: lightblue;
    cursor: pointer;
}
#instagram {
    fill: #E4405F;
     -webkit-transition: fill 300ms ease-out;
    -moz-transition: fill 300ms ease-out;
    -o-transition: fill 300ms ease-out;
    transition: fill 300ms ease-out;
}
#instagram:hover {
    fill: lightblue;
    cursor: pointer;
}
#smallWidth {
    
}

